div {
  margin-top: auto;
}

.SearchSort {
  margin-bottom: 20px;
  display: flexbox;
}

#dropdown-menu,
#dropdown-menu2 {
  width: 100%;
}

@media only screen and (max-width: 460px) {
  #dropdown-menu,
  #dropdown-menu2 {
    width: 100%;
  }
}
